.speech {
    font-family: Calibri;
    font-size: 16px;
    color: black;
    margin: 18px;
}

.stage-direction {
    font-family: Garamond, Arial;
    font-size: 16px;
    color: black;
    background-color: rgb(245, 245, 186);
}

.stage-direction:hover {
    background-color: rgb(4, 0, 255);
    color: rgb(0, 255, 128);
}
.name {
    font-size: 18px;
    color: black;
}

table {
    margin: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    margin: 30px;
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #d5e3df;
  }

  
}